<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cassinidev" type="CassiniDev.Configuration.CassiniDevConfigurationSection, CassiniDev"/>
  </configSections>

  <cassinidev>
    <profiles>
      <profile port="*"/>
    </profiles>
  </cassinidev>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>
