<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="salient.webtest" type="Salient.WebTest.Configuration.WebTestSection, Salient.WebTest" />
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <NUnit>
    <TestRunner>
 
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>

  <salient.webtest>
    <!-- 
    The fixture scans %YOUR PROGRAM FILES%\Common Files\microsoft shared\DevServer
    for the server executables. If for some reason they are somewhere else you can
    override the paths here
    
    seems that nunit likes to think it is on a 32 bit machine and progfiles comes out 
    wrong so we will override it here because I am writing on an x64 box.
    -->
    <servers>

      <server name="WebServer" location="C:\Program Files (x86)\Common Files\microsoft shared\DevServer\9.0\WebDev.WebServer.exe" />
      <server name="WebServer20" location="C:\Program Files (x86)\Common Files\microsoft shared\DevServer\10.0\WebDev.WebServer20.exe" />
      <server name="WebServer40" location="C:\Program Files (x86)\Common Files\microsoft shared\DevServer\10.0\WebDev.WebServer40.exe" />

    </servers>

  </salient.webtest>
</configuration>